name: Testspace Action
on:
  push:
    paths-ignore:
      - '**.md'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - '**.md'
      - 'docs/**'
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Testspace client install & config
        uses: ./
        with:
          domain: ${{ github.repository_owner }}
      - name: Testspace push test content
        run: testspace [${{ matrix.os}}]./testcontent/*.xml
